.gallery {
  margin-top: 16px;
  padding-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 24px;
  overflow-y: auto;
  max-height: calc(100vh - 108px - 64px - 61px - 32px);
}

.gallery::-webkit-scrollbar {
  width: 0;
}