*, *::before, *::after {
    box-sizing: border-box;
}

.heading {
    text-align: center;
}

.navigation {
    width: fit-content;
    margin: 20px auto;
}

.list {
    display: flex;
    height: 50px;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.list__item {
    transition: all .15s ease-in;
}

.list__item:hover {
    box-shadow: 0 0 0 2px #d1d1d1;
}

.list__link {
    text-align: center;
    line-height: 50px;
    padding: 0 40px;
    width: 100%;
    display: block;
    height: 100%;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #dbdbdb;
}

.list__link_active {
    color: #3b3d47;
    background-color: #FAE420;
}